
logic-node:not(.logic-precision-zone) {
  background-color: #fff0 !important;
  background: url(/media/skinned-node-back.png) !important;
  background-size: cover;
  font-size: 0rem;
}
logic-node:not(.logic-precision-zone) header {
  min-height: 2rem;
  width: 1rem;
  mask-image: url(/media/skinned-plaque-mask.png#);
  mask-size: cover;
  background-color: #c1c1c1;
  margin: auto;
}
logic-node header img {
  display: block;
  min-width: 1rem;
  min-height: 1rem;
  margin: auto;
}
logic-node.logic-not-gate header {
  background-color: #ac2121;
}
logic-node header img {
  opacity: 0.4;
  scale: 1.2;
}
logic-node .node-output, logic-node .node-input {
  margin: 0px 0.2rem;
}
logic-node:not(.logic-precision-zone) header span {
  display: none;
}
logic-node:not(.custom-renderer) {
  color: #2b2a2a82;
}
logic-node.logic-bit-module header, logic-node.logic-bit-node header{
  color: #ec7002;
  background-color: black;
  font-weight: 600;
}
logic-node.logic-and-gate header {
  background-color: #5cac5c;
}
logic-node.logic-or-gate header {
  background-color: orange;
}
logic-node.custom-renderer {
  font-size: 1rem;
}
logic-node.custom-renderer header {
  width: fit-content;
  padding: 0px 0.2rem;
}
logic-node.logic-bit-display header {
  background-color: black;
  color: #ff8f00;
  font-weight: bold;
}
logic-node.logic-signal-blink header {
  background-color: #499de8;
}
logic-node.logic-signal-repeat header {
  background-color: #ffb835;
}
logic-node.logic-signal-delay header {
  background-color: #686868;
}
logic-node.logic-signal-sustain header {
  background-color: #a1bd7f;
}
logic-node header svg {
  width: 1.2rem;
  height: 1.2rem;
}